@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
:root {
  --font-default: 'Roboto', 'Arial', sans-serif;
  --va-font-size: 12px;
  --va-blue-grey-600:#525566;
  --va-blue-grey-500: #70748c;
  --va-blue-grey-300: #d5d9e6;
  --va-grey-600: #808080;
	--va-grey-0: #ffffff;
	--va-slider-dot-size: 16px;
}

@mixin slider-dot {
	background-color:var(--va-blue-grey-600);
	background-position: 0 0;
	width: var(--va-slider-dot-size);
	height: var(--va-slider-dot-size);
  border: 0;
  border-radius: 50%;
	padding: 0;
	margin: 0;
	vertical-align: top;
	cursor: pointer;
	z-index: 20;
	pointer-events: auto;
  transition: transform .2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:hover {
		@include slider-dot--focus;
		transform: scale(1.1);
	}
}
@mixin slider-dot--focus {
	background-position-y: -21px;
	//filter: drop-shadow(3px 0 0 rgba(255, 255, 255, .75)) drop-shadow(-3px 0 0 rgba(255, 255, 255, .75));
}
@mixin slider-dot--active {
cursor: grabbing;
}

@mixin track {
	cursor: default;
	height: 1px; 
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
@mixin reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.va-range-slider{
  .va-range-slider-container{
    height: 4px;
    clear: both;
		position: relative;
		max-width: 300px;
		border-radius: 2px;
    //box-shadow: 0 0 0 1px inset rgba(0, 0, 0, 0.1);
    background: var(--va-blue-grey-300);
    .va-range-slider--slider-bar{
      //@include reset;
      height: 4px;
			//width: 100%;
			max-width: 300px;
			border-radius: 2px;
      position: absolute;
      left: 0;
			top: 0;
			//--track-background: linear-gradient(to right, transparent var(--low), var(--va-blue-grey-600) 0, var(--va-blue-grey-600) var(--high), transparent 0) no-repeat 0 100% / 100% 100%;
			//background: var(--track-background);
			background: var(--va-blue-grey-600);
		}
		
		.va-range-slider--step{
			@include reset;
			display: flex;
			justify-content: stretch;
      height: 4px;
			width: 100%;
			max-width: 300px;
			border-radius: 2px;
      position: absolute;
      left: 0;
			top: 0;
			//--track-background: linear-gradient(to right, transparent var(--low), var(--va-blue-grey-600) 0, var(--va-blue-grey-600) var(--high), transparent 0) no-repeat 0 100% / 100% 100%;
			//background: var(--track-background);
			span {
				//flex-grow: 1;
				width: 1px;
				height: 4px;
				background-color: white;
				position: absolute;
			}
    }
	}
	.va-range-slider-tooltip{
		@include reset;
		display: flex;
		justify-content: stretch;
		height: 4px;
		width: 100%;
		max-width: 300px;
		border-radius: 2px;
		position: relative;
		left: 0;
		top: 0;
		//--track-background: linear-gradient(to right, transparent var(--low), var(--va-blue-grey-600) 0, var(--va-blue-grey-600) var(--high), transparent 0) no-repeat 0 100% / 100% 100%;
		//background: var(--track-background);
		span {
			//flex-grow: 1;
			width: auto;
		
		
			position: absolute;
			transform: translateX(-50%)
			//border-right: 2px solid white;
		}
	}
  .va-range-slider--input {
    @include reset;
		width: 100%;
		height: 0;
		display: block;
		position: relative;
		pointer-events: none;
    outline: none !important;
    &::-webkit-slider-runnable-track {
			@include track;
		}
		&::-webkit-slider-thumb {
			@include slider-dot;
			margin: -6px 0 0 0;
		}
		&::-webkit-slider-progress {
			@include reset;
		}

		&::-moz-focus-outer {
			border: 0;
		}
		&::-moz-range-track {
			@include track;
		}
		&::-moz-range-progress {
			@include reset;
		}
		&::-moz-range-thumb {
			@include slider-dot;
		}

		&::-ms-thumb {
			@include slider-dot;
    }
    &:focus {
			&::-webkit-slider-thumb {
				@include slider-dot--focus;
			}
			&::-moz-range-thumb {
				@include slider-dot--focus;
			}
			&::-ms-thumb {
				@include slider-dot--focus;
			}
    }
    &:active {
			&::-webkit-slider-thumb {
				@include slider-dot--active;
			}
			&::-moz-range-thumb {
				@include slider-dot--active;
			}
			&::-ms-thumb {
				@include slider-dot--active;
			}
    }
    &.va-range-slider--min{
      z-index: 21;

			&::-webkit-slider-thumb {
				margin-left: -2px;
			}
			&::-moz-range-thumb {
				transform: translate(-2px, 4px);
			}
    }
    &.va-range-slider--max{
      z-index: 20;

			&::-webkit-slider-thumb {
				background-position-x: 26px;
				margin-left: 2px;
			}
			&::-moz-range-thumb {
				background-position-x: 26px;
				transform: translate(2px, 4px);
			}
			&::-ms-thumb {
				background-position-x: 26px;
			}
    }
  }
}